<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84891472465-ersanl3s20cd2vd3b8cfemmrdftmhgu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84891472465-ersanl3s20cd2vd3b8cfemmrdftmhgu9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84891472465-k7uk0o8bqb3cupkndkstncr586d5q27p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrVT8E1sQ8wzASNIFlfhD-z9m-KdeZM-0</string>
	<key>GCM_SENDER_ID</key>
	<string>84891472465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ebakers.Smart-Guide</string>
	<key>PROJECT_ID</key>
	<string>al7ag-49058</string>
	<key>STORAGE_BUCKET</key>
	<string>al7ag-49058.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84891472465:ios:ed4499d72201f102</string>
	<key>DATABASE_URL</key>
	<string>https://al7ag-49058.firebaseio.com</string>
</dict>
</plist>